<% include header.ejs %>
<div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form action="" method="post">
			<div class="form-group">
			  <label for="description">Description:</label>
			  <textarea class="form-control" rows="5" id="description" name="description"><%= comment.description %></textarea>
			</div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>
</body>
</html>
